# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.env
.env.*
*.db
*.db-journal
venv/

# Flask/SQLAlchemy
games.db
instance/

# VSCode
.vscode/
.history/

# macOS
.DS_Store

# Node/React frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.*

# Docker
*.log

# General
*.swp
*.swo
*~
